<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	
	<display-name>Lab03-Address book</display-name>

	<servlet>
		<servlet-name>AddressBookServlet</servlet-name>
		<servlet-class>AddressBookServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AddressBookServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/AppExceptionHandler</location>
	</error-page>

	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/AppExceptionHandler</location>
	</error-page>

</web-app>
